.input {
  width: 100%;
  min-height: 2em;
  display: flex;
  text-align: end;
  font-weight: lighter;
  resize: horizontal;
  /* justify-content: left; */
  /* align-items: center; */
  /* font-weight: lighter; */
  font-size: 5em;
  background-color: #535151;
  color: #ffffff;
  padding: 0.5em 0.2em 0 0;
  outline: 1px solid #0c0c0c;
 
}

input {
  resize: horizontal;
  width: 200px;
}

.input:active {
  width: auto;   
}

.input:focus {
  min-width: 200px;
}

.btnNum {
    min-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.9em;
    background-color: #888888;
    color: #fff;
    flex: 1;
    /* margin-top: -20px; */
    outline: 1px solid #0c0c0c;
}

.operator {
    background-color: #fe9241;
    color: #ffffff;
    font-size: 2.2em;
}

#clear-btn {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 1.4em;
  /* background-color: #9e9ba8; */
  background-color: #888888;
  color: #fff;
  flex: 1;
  outline: 1px solid #0c0c0c;
 
}

